In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
import pickle

In [7]:
data = pd.read_csv('creditcard.csv')

In [8]:
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [9]:
data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000

In [10]:
data['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [12]:
legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [17]:
#statistical measure

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [18]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [21]:
#clearly we can see the differnce between the fraud and legit transaction
# compare both the value for both transaction

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
#we are going to create a sample dataset containing the similar distributtin of
#normal transaction and fraudulent transaction

In [23]:
#no. of fraud transaction -> 492  

legit_sample = legit.sample(n=492)

In [24]:
print(legit_sample.shape)
print(fraud.shape)

(492, 31)
(492, 31)

In [27]:
new_data = pd.concat([legit_sample,fraud], axis= 0)

In [28]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
172584,121159.0,1.830714,-0.729186,-0.077240,0.473680,-0.923863,0.013796,-0.892198,0.210141,1.162861,...,0.076904,0.174161,0.224034,-0.345681,-0.573560,0.158426,-0.012260,-0.038485,67.15,0
29699,35590.0,1.162759,-0.204409,0.596163,-0.054693,-0.634443,-0.334063,-0.347709,-0.015268,0.067779,...,0.144250,0.367272,-0.119202,0.121345,0.264085,1.065610,-0.066858,0.006415,47.85,0
231999,147007.0,-2.158956,-3.504238,0.220309,-2.064773,3.945528,2.675136,-2.520300,1.257111,-1.926980,...,-0.281958,-1.092214,0.358262,0.680011,0.655659,0.003003,-0.006674,0.106668,51.89,0
263542,161003.0,2.154480,0.501878,-2.532683,1.134530,1.259259,-1.249410,1.161719,-0.658065,-0.366966,...,0.266285,1.026376,-0.317967,-0.580492,1.002524,-0.157059,-0.048674,-0.084253,1.00,0
66543,52101.0,-3.803642,-6.921205,-0.533226,0.322201,-4.519281,2.155490,2.747804,-1.062553,-0.227397,...,1.548013,-1.702270,-0.300049,0.032410,0.836302,-0.601268,-0.255092,0.470092,2119.24,0

In [30]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93370.762195,0.080611,-0.091095,-0.030163,-0.018644,-0.086428,-0.042116,0.087272,0.000220,0.019960,...,0.060076,-0.020688,-0.045400,0.016310,-0.008357,0.013436,-0.022711,0.010652,0.007316,111.032276
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [32]:
#here point to be noted is that the mean values for earlier and newer dataset is not much
#not much different which suggest that sample taken is good


#Splitting data into Training and test data 

X = new_data.drop(columns = 'Class', axis = 1)
Y = new_data['Class']

In [33]:
print(X)

            Time        V1        V2        V3        V4        V5        V6  \
172584  121159.0  1.830714 -0.729186 -0.077240  0.473680 -0.923863  0.013796
29699    35590.0  1.162759 -0.204409  0.596163 -0.054693 -0.634443 -0.334063
231999  147007.0 -2.158956 -3.504238  0.220309 -2.064773  3.945528  2.675136
263542  161003.0  2.154480  0.501878 -2.532683  1.134530  1.259259 -1.249410
66543    52101.0 -3.803642 -6.921205 -0.533226  0.322201 -4.519281  2.155490
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
172584 -0.892198  0.210141  1.162861  ... -0.099722  0.076904  0.174161
29699  -0.347709 -0.015268  0.067779  ...  0.109641  0.144250  0.367272
231999 -2.520300  1.257111 -1.926980  ...  0.662328 -0.281958 -1.092214
263542  1.161719 -0.658065 -0.366966  ... -0.235100  0.266285  1.026376
66543   2.747804 -1.062553 -0.227397  ...  3.895595  1.548013 -1.702270
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28   Amount
172584  0.224034 -0.345681 -0.573560  0.158426 -0.012260 -0.038485    67.15
29699  -0.119202  0.121345  0.264085  1.065610 -0.066858  0.006415    47.85
231999  0.358262  0.680011  0.655659  0.003003 -0.006674  0.106668    51.89
263542 -0.317967 -0.580492  1.002524 -0.157059 -0.048674 -0.084253     1.00
66543  -0.300049  0.032410  0.836302 -0.601268 -0.255092  0.470092  2119.24
...          ...       ...       ...       ...       ...       ...      ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968   390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637     0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361    77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700   245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309    42.53

[984 rows x 30 columns]

In [ ]:
X_train, X_test, Y_Train, Y_test = train_test_split(X,Y,test_size=0.2)